html
    head
        style.
            body {
                font-family: "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", "微软雅黑", sans-serif;
                background-color: white;
            }

            a {
                color: white;
                text-decoration: none;
                background: #DA3D41;
                padding: 5px;
            }

            a:hover {
                background: black;
            }

            .spinner {
                position: absolute;
                top: 45%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
            }

            .e404 {
                width: 300px;
                margin-bottom: 20px;
            }
        title 找不到服务器
    body
        .spinner
            img.e404(src='img/404.png')
            p
                a(href='.') 返回主页
