html
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(content='width=device-width, initial-scale=1', name='viewport')
        meta(content='Deepfile 文件管理系统', name='description')
        meta(content='云数信息科技（深圳）有限公司', name='author')
        title Deepfile
        link(rel='shortcut icon', href='favicon.ico')
        link(rel='stylesheet', href='css/index.css')
        script(type='text/javascript', src='lib/jquery-3.2.1/jquery-3.2.1.min.js')
        script(type='text/javascript', src="lib/jquery-file-upload-9.19.2/js/vendor/jquery.ui.widget.js")
        script(type='text/javascript', src="lib/jquery-file-upload-9.19.2/js/jquery.iframe-transport.js")
        script(type='text/javascript', src="lib/jquery-file-upload-9.19.2/js/jquery.fileupload.js")
        script(type='text/javascript', src='js/index.js')
    body
        span Deepfile
        a(href="javascript:void(0)", id="upload-btn")  +
        span(style='float:right;') v0.12.4
        input#upload-file(type="file", name="files[]", data-url="." style="display:none;" multiple)
        .container
