body {
    background-color: white;
    margin: 0;
    padding: 10px;
    font-family: monospace;
}

a {
    text-decoration: none;
    color: deeppink;
}

.container {
    margin-top: 10px;
}

.name {
    margin: 5px 0 10px 0;
    display: block;
    background-color: beige;
}

.files img {
    height: 100px;
    margin: 0 5px 5px 0;
}

