body {
    background-color: white;
    margin: 0;
    font-family: monospace;
    overflow-x: hidden;
    width: 100%;
}

a {
    text-decoration: none;
    color: deeppink;
}

header {
    padding: 10px;
}

.container {
    padding: 0 10px 10px 10px;
}

.name {
    margin: 5px 0 10px 0;
    display: block;
    background-color: beige;
}

.files img {
    height: 100px;
    margin: 0 5px 5px 0;
}

